@model GroceryViewModel
@{
    Layout = "_Layout";
}

<div>
    <h2 class="text-center">Select a list to Delete</h2>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="GroceryID" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

</div>
