@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Grocery List</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">List</th>
                <th scope="col">Name</th>
                <th scope="col">Number of items</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @*Loop that will take DB items and put them in a table, when db is ready you can inject that data*@
            @for (int i = 0; i < ViewBag.length; i++)
            {
                <tr>
                    <th scope="row">@ViewBag.listId[i]</th>
                    <td>@ViewBag.listName[i]</td>
                    <td>@ViewBag.numberOfItems[i]</td>
                    <td>
                        <a class="btn btn-success" asp-controller="List" asp-action="Open">Open</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <div>
        <a id="edit" class="btn btn-primary" asp-controller="List" asp-action="Edit">Edit</a>
        <a id="delete" class="btn btn-danger" asp-controller="List" asp-action="Delete">Delete</a>
    </div>
</div>
