@{
}

<form>
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" id="Email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button asp-controller="Home" asp-action="DashBoard" type="submit" class="btn btn-primary">Submit</button>
  <p>Don't have an account? <a asp-controller="Home" asp-action="Register">register here</a></p>
</form>
